/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    background-image: url("../images/370799.jpg");
    background-size: 100%;
    background-position: top;
    margin-bottom: 50px;

}
main {

    margin-top: 20px;
    margin-bottom: 150px;
}
.buttonLinks {

    padding-right: 20px;
    margin-top: 40px;
}
.buttonLinks button {
    background-color: lightyellow;
    color: black;
    width: 200px;
    height: 50px;
    
}

.rightImage img {
    
    position: absolute;
    right: 100px;
    top: 100px;
    width: 400px;
    height: 300px;

}
footer {
    position: fixed;
    bottom: 0px;
    width: 90%;
    color: white;
}
.quoteTable {
   
    background-color: rgba(255, 255, 255, 0.50);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#deskDimensionImg {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 130px;
    right: 15%;
}
.form-group {
    margin-left: 15px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
#myCarousel img {
    width: 100%;

}
.row {
    width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 992px) {
    /* Hide desk image */

    #deskDimensionImg {
        height: 0px;
        width: 0px;
    }
}
