@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <h1>MegaDesk Desk Quotes</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 rightImage ">
            <img class="align-middle" src="~/images/office-table-png-7.png" alt="MegaDesk Image" title="MegaDesk Image" />
        </div>
        <div class="col-sm-6">
            <p class="review">"The Mercedes-Benz of desks. The design of these desks is perfectly simple. These are some of the most beautiful desks around." </p>
            <p>- Mary Smith, desk fanatic</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 buttonLinks">
            <button class="btn" onclick="window.location.href='/Quotes/Create'">Add a New Quote</button>
        </div>
        <div class="col-sm-6 buttonLinks">
            <button class="btn" onclick="window.location.href='/Quotes'">View Quotes</button>
        </div>
    </div>

</div>


